<section class="categories" aria-labelledby="categories-title">
  <div class="categories__wrapper wrapper">
    <h2 id="categories-title" class="visually-hidden">Program options</h2>

    <ul class="categories__list">
      <li class="categories__item categories__item--slim">
        <a
          class="categories__card"
          href="#"
          aria-label="View Cat Energy Slim catalog"
        >
          <h3 class="categories__title">
            <span class="categories__icon">
              <svg width="70" height="77">
                <use href="/assets/imgs/sprite.svg#cat-slim"></use>
              </svg>
            </span>
            Weight loss
          </h3>

          <p class="categories__description">
            Does your cat weigh more than a dog and can barely climb trees
            anymore? Time for a diet! Cat Energy Slim will help your pet lose
            excess weight.
          </p>

          <span class="categories__button">
            View Slim catalog
            <svg width="32" height="12" class="categories__button-icon">
              <use href="/assets/imgs/sprite.svg#arr-right"></use>
            </svg>
          </span>
        </a>
      </li>

      <li class="categories__item categories__item--pro">
        <a
          class="categories__card"
          href="#"
          aria-label="View Cat Energy Pro catalog"
        >
          <h3 class="categories__title">
            <span class="categories__icon">
              <svg width="134" height="77">
                <use href="/assets/imgs/sprite.svg#cat-pro"></use>
              </svg>
            </span>
            Muscle gain
          </h3>

          <p class="categories__description">
            Want your cat to earn respect from yard cats and even dogs? Cat
            Energy Pro will help build the strength and muscles your pet needs.
          </p>

          <span class="categories__button">
            View Pro catalog
            <svg width="32" height="12" class="categories__button-icon">
              <use href="/assets/imgs/sprite.svg#arr-right"></use>
            </svg>
          </span>
        </a>
      </li>
    </ul>
  </div>
</section>
