@use "abstracts/media" as *;

.radio {
  margin-block-end: var(--space-3);

  @include tablet {
    margin-block-end: var(--space-6);
  }
}

.radio__label {
  position: relative;

  padding-inline-start: var(--space-11);

  cursor: pointer;

  font-family: var(--order-label-font-family);
  font-weight: var(--order-label-font-weight);
  font-size: var(--order-label-font-size-mobile);
  line-height: var(--order-label-line-height-mobile);
  text-transform: uppercase;
  color: var(--color-text-secondary);

  @include tablet {
    font-size: var(--order-label-font-size-tablet);
    line-height: var(--order-label-line-height-tablet);
  }
}

.radio__label::before {
  position: absolute;
  content: "";

  inline-size: 1.875rem;
  block-size: 1.875rem;

  inset-inline-start: 0;
  inset-block-start: 50%;

  border: 1px solid var(--color-border-default);
  border-radius: var(--radius-full);

  transform: translateY(-50%);

  @include tablet {
    inline-size: 2.5rem;
    block-size: 2.5rem;

    inset-inline-start: -0.8125rem;
  }
}

.radio__label::after {
  position: absolute;
  content: "";

  inline-size: 0.8125rem;
  block-size: 0.8125rem;

  inset-inline-start: var(--space-2);
  inset-block-start: 50%;

  background: var(--color-accent);
  border-radius: var(--radius-full);

  opacity: 0;

  transform: translateY(-50%);

  @include tablet {
    inline-size: 1.125rem;
    block-size: 1.125rem;

    inset-inline-start: -0.125rem;
  }
}

.radio__input:checked ~ .radio__label::after {
  opacity: 1;
}

.radio__label:hover::before {
  border-color: var(--color-label-hover);
}

.radio__input:focus + .radio__label::before {
  border-color: var(--color-label-hover);
  box-shadow: 0 2px 7px var(--color-accent);
}
