<section class="promo" aria-labelledby="promo-title">
  <div class="promo__wrapper wrapper">
    <div class="promo__info">
      <h1 class="promo__main-title" id="promo-title">
        Functional nutrition for cats
      </h1>
      <p class="promo__desc">Getting in shape? Take care of your cat too</p>
      <picture>
        <source
          type="image/webp"
          media="(min-width: 1440px)"
          srcset="
            /assets/imgs/promo/desktop/index-can-desktop@1x.webp 1x,
            /assets/imgs/promo/desktop/index-can-desktop@2x.webp 2x
          "
        />
        <source
          type="image/webp"
          media="(min-width: 768px)"
          srcset="
            /assets/imgs/promo/tablet/index-can-tablet@1x.webp 1x,
            /assets/imgs/promo/tablet/index-can-tablet@2x.webp 2x
          "
        />
        <source
          type="image/webp"
          srcset="
            /assets/imgs/promo/mobile/index-can-mobile@1x.webp 1x,
            /assets/imgs/promo/mobile/index-can-mobile@2x.webp 2x
          "
        />

        <source
          srcset="
            /assets/imgs/promo/desktop/index-can-desktop@1x.png 1x,
            /assets/imgs/promo/desktop/index-can-desktop@2x.png 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            /assets/imgs/promo/tablet/index-can-tablet@1x.jpg 1x,
            /assets/imgs/promo/tablet/index-can-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <img
          class="promo__pic"
          src="/assets/imgs/promo/mobile/index-can-mobile@1x.png"
          srcset="/assets/imgs/promo/mobile/index-can-mobile@2x.png 2x"
          alt="Cat Energy cat food with chicken"
          width="280"
          height="270"
          loading="eager"
          fetchpriority="high"
        />
      </picture>
      <a
        class="promo__link button button--primary"
        routerLink="/program-selection"
        >Choose a program</a
      >
    </div>
  </div>
</section>
