@use "abstracts/media" as *;

.promo {
  padding-block-start: var(--space-7);

  min-block-size: 28.75rem;
  text-align: center;

  background-size:
    100% 302px,
    320px 302px;

  background-position:
    top center,
    top center;

  background-repeat: no-repeat, no-repeat;

  // fallback (overlay + jpg)
  background-image:
    linear-gradient(
      to top,
      var(--promo-surface-color) 0,
      var(--promo-overlay-color) 0
    ),
    url("../../../../../assets/imgs/promo/mobile/index-background-mobile@1x.jpg");

  // modern (overlay + webp)
  @supports (background-image: image-set(url("") 1x)) {
    background-image:
      linear-gradient(
        to top,
        var(--promo-surface-color) 0,
        var(--promo-overlay-color) 0
      ),
      image-set(
        url("../../../../../assets/imgs/promo/mobile/index-background-mobile@1x.webp")
          1x,
        url("../../../../../assets/imgs/promo/mobile/index-background-mobile@2x.webp")
          2x
      );
  }

  @include tablet {
    min-block-size: 42rem;
    background-image: none;
    background-color: transparent;

    text-align: start;
  }

  @include desktop {
    min-block-size: 42.18rem;
  }
}
.promo::before {
  display: none;

  @include desktop {
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    content: "";
    width: 50%;
    min-height: 18.875rem;
    height: 43.4375rem;
    z-index: -1;

    background-repeat: no-repeat;
    background-size: cover;

    // fallback
    background-image:
      linear-gradient(
        to top,
        var(--promo-surface-color) 0,
        var(--promo-overlay-color) 0
      ),
      url("../../../../../assets/imgs/promo/desktop/index-background-desktop@1x.jpg");

    // modern
    @supports (background-image: image-set(url("") 1x)) {
      background-image:
        linear-gradient(
          to top,
          var(--promo-surface-color) 0,
          var(--promo-overlay-color) 0
        ),
        image-set(
          url("../../../../../assets/imgs/promo/desktop/index-background-desktop@1x.webp")
            1x,
          url("../../../../../assets/imgs/promo/desktop/index-background-desktop@2x.webp")
            2x
        );
    }
  }
}

.promo__info {
  @include tablet {
    padding-block: var(--space-4);
    padding-inline: var(--space-9) var(--space-11);

    max-inline-size: 70%;
  }

  @include desktop {
    position: relative;
    max-inline-size: 33.125rem;

    padding-block: var(--space-12);
    padding-inline: var(--space-13) var(--space-5);
  }
}

.promo__main-title {
  margin: 0;

  color: var(--promo-title-color-mobile);

  font-family: var(--promo-title-font-family);
  font-size: var(--promo-title-font-size-mobile);
  line-height: var(--promo-title-line-height-mobile);
  font-weight: var(--promo-title-font-weight);

  @include tablet {
    color: var(--promo-title-color-tablet);
    font-size: var(--promo-title-font-size-tablet);
    line-height: var(--promo-title-line-height-tablet);
  }
}

.promo__desc {
  margin: 0;
  margin-block-start: var(--space-6);

  color: var(--promo-desc-color-mobile);
  font-family: var(--promo-desc-font-family);
  font-size: var(--promo-desc-font-size-mobile);
  line-height: var(--promo-desc-line-height-mobile);
  font-weight: var(--promo-desc-font-weight);
  font-style: normal;

  text-transform: var(--promo-desc-text-transform);

  @include tablet {
    margin-block-start: var(--space-8);

    color: var(--promo-desc-color-tablet);
    font-size: var(--promo-desc-font-size-tablet);
    line-height: var(--promo-desc-line-height-tablet);
  }

  @include desktop {
    margin-block-start: var(--space-11);
  }
}

.promo__pic {
  margin: 3.125rem auto 0;

  @include tablet {
    position: absolute;
    width: 60%;
    height: auto;
    z-index: -1;
    inset-block-start: 9.5rem;
    inset-inline-end: 1.875rem;
  }

  @include desktop {
    position: absolute;
    top: 55%;
    left: 15%;

    width: 34.5rem;
    height: 31.1875rem;
    max-width: none;

    transform: translate(50%, -50%);
  }
}

.promo__link {
  margin-block-start: var(--space-8);

  text-decoration: none;
  font-size: var(--promo-desc-font-size-tablet);
  color: var(--color-text-button);

  @include tablet {
    margin-block-start: var(--space-10);

    inline-size: 15.25rem;
  }

  @include desktop {
    margin-block-start: var(--space-12);

    font-size: var(--promo-button-font-size-desktop);
  }
}
