@use "abstracts/media" as *;
@use "abstracts/motion" as *;
@use "tokens/motion" as *;

.header {
  position: relative;

  --nav-link-color: var(--color-text-primary);
  --nav-link-underline: var(--color-accent);
}

.header--index {
  --nav-link-color: var(--color-text-primary);

  @include desktop {
    --nav-link-color: var(--header-nav-link-color-inverse);
    --nav-link-underline: var(--header-nav-link-decor-inverse);
  }
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  padding-block: 0.75rem 1rem;

  @include tablet {
    padding-block: 1.125rem 0;
  }

  @include desktop {
    padding-block-start: 3rem;
  }
}

.header__nav-button {
  position: relative;

  display: block;

  inline-size: 1.5rem;
  block-size: 1.5rem;

  background: none;
  border: none;
  cursor: pointer;

  @include tablet {
    display: none;
  }
}

.header__nav-burger {
  position: absolute;

  inset-block-start: 50%;
  inset-inline-end: 0;

  inline-size: 1.5rem;
  block-size: 0.125rem;

  background-color: var(--color-nav-burger);

  transform: translateY(-50%);
  transition:
    transform $transition-default,
    background-color $transition-default;

  &::before,
  &::after {
    position: absolute;
    content: "";

    inline-size: 100%;
    block-size: 100%;
    left: 0;

    background-color: var(--color-nav-burger);

    transition: transform $transition-default;
  }

  &::before {
    inset-block-start: -0.5rem;
  }

  &::after {
    inset-block-end: -0.5rem;
  }
}

.header.header--opened .header__nav-burger {
  background-color: transparent;
}

.header.header--opened .header__nav-burger::before {
  transform: translateY(0.5rem) rotate(45deg);
}

.header.header--opened .header__nav-burger::after {
  transform: translateY(-0.5rem) rotate(-45deg);
}

.header__logo-pic-link {
  display: block;
  margin-inline-end: auto;
}

.header__logo-pic-link[href]:hover {
  opacity: 0.8;
}

.header__logo-pic-link[href]:active {
  opacity: 0.6;
  outline: 2px solid var(--color-accent-hover);
}

.header__logo {
  display: none;
  fill: var(--color-text-primary);
  @include tablet {
    inline-size: 10.875rem;
    block-size: 3.1875rem;
  }

  @include desktop {
    inline-size: 12.625rem;
    block-size: 3.6875rem;
  }
}

.header__logo--mobile {
  display: block;
}

@include tablet {
  .header__logo--mobile {
    display: none;
  }

  .header__logo--tablet {
    display: block;
  }
}

@include desktop {
  .header__logo--tablet {
    display: none;
  }

  .header__logo--desktop {
    display: block;
  }
}
