<header
  class="header"
  [class.header--index]="headerVariant === 'index'"
  [class.header--opened]="isMenuOpen"
>
  <a href="#main-content" class="skip-link">Skip to main content</a>
  <div class="header__wrapper wrapper">
    <a class="header__logo-pic-link" routerLink="/">
      <svg
        class="header__logo header__logo--mobile"
        aria-hidden="true"
        focusable="false"
      >
        <use href="assets/imgs/sprite.svg#logo-mobile"></use>
      </svg>

      <svg
        class="header__logo header__logo--tablet"
        aria-hidden="true"
        focusable="false"
      >
        <use href="assets/imgs/sprite.svg#logo-tablet"></use>
      </svg>

      <svg
        class="header__logo header__logo--desktop"
        aria-hidden="true"
        focusable="false"
      >
        <use href="assets/imgs/sprite.svg#logo-desktop"></use>
      </svg>

      <span class="visually-hidden">Cat Energy homepage</span>
    </a>
    <button
      class="header__nav-button"
      type="button"
      aria-label="Toggle menu"
      [attr.aria-expanded]="isMenuOpen"
      aria-controls="main-navigation"
      (click)="toggleMenu()"
      [attr.aria-label]="isMenuOpen ? 'Close menu' : 'Open menu'"
      #menuButton
    >
      <span class="header__nav-burger"></span>
    </button>

    <app-theme-toggle></app-theme-toggle>
    <app-navigation
      [navigation]="navigation"
      [isOpen]="isMenuOpen"
      (linkClick)="closeMenu()"
    ></app-navigation>
  </div>
</header>
