@use "abstracts/media" as *;

.catalog__layout {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-11) var(--space-12);
  }

  @include desktop {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-auto-rows: 1fr;
    gap: var(--space-12) var(--space-13);
  }
}
