@use "abstracts/media" as *;

.add-more {
  position: relative;

  margin-block-start: var(--space-6);

  @include tablet {
    margin-block-start: var(--space-13);
  }

  @include desktop {
    margin-block: var(--space-13) var(--space-14);
  }
}

.add-more__layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 15.31rem;
    grid-auto-rows: 1fr;
    grid-column-gap: 4.93rem;
  }
}

.add-more__heading {
  position: relative;

  margin: 0 0 var(--space-9);

  font-family: var(--add-more-title-font-family);
  font-weight: var(--add-more-title-font-weight);
  font-size: var(--add-more-title-font-size-mobile);
  line-height: var(--add-more-title-line-height-mobile);

  @include tablet {
    margin-block-end: var(--space-13);
    padding-inline-start: var(--space-7);

    font-size: var(--add-more-title-font-size-tablet);
    line-height: var(--add-more-title-line-height-tablet);
  }

  @include desktop {
    padding-inline-start: 0;
  }
}

.add-more__heading::after {
  position: absolute;
  content: "";

  width: 100vw;
  height: 2px;

  top: 0.93rem;
  left: 90%;

  background: var(--color-accent);

  transform: translateY(-50%);

  @include tablet {
    top: 1.56rem;
    left: 60%;
  }

  @include desktop {
    left: 30%;
    top: 1.56rem;
  }
}

.add-more__heading::before {
  @include tablet {
    position: absolute;
    content: "";

    width: 100vw;
    height: 3px;

    right: 100%;
    top: 1.56rem;

    background: var(--color-accent);
    transform: translateY(-50%);
  }

  @include desktop {
    right: 106%;
    top: 1.56rem;
  }
}

.add-more__list {
  margin: 0;
  padding: 0;

  inline-size: 100%;
}

.add-more__item {
  padding-block: var(--space-3) var(--space-4);

  border-block-end: 1px solid var(--color-border-default);

  @include tablet {
    padding: var(--space-6) var(--space-8);

    border-inline: 1px solid var(--color-border-default);
  }

  @include desktop {
    display: flex;
    align-items: center;

    padding-block: var(--space-4);

    border-inline: none;
  }
}

.add-more__item:first-child {
  border-block-start: 1px solid var(--color-border-default);
}

.add-more-card {
  display: flex;
  flex-direction: column;

  inline-size: 100%;

  @include tablet {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  @include desktop {
    display: grid;
    grid-template-columns: 1fr auto 15.3125rem;
    align-items: center;
    column-gap: var(--space-8);
  }
}

.add-more-card__title {
  margin: 0 0 var(--space-3);

  text-transform: uppercase;
  font-family: var(--add-more-card-title-font-family);
  font-weight: var(--add-more-card-title-font-weight);
  font-size: var(--add-more-card-title-font-size-mobile);
  line-height: var(--add-more-card-title-line-height-mobile);
  color: var(--color-text-primary);

  @include tablet {
    margin-block-end: var(--space-6);

    font-size: var(--add-more-card-title-font-size-tablet);
    line-height: var(--add-more-card-title-line-height-tablet);
  }

  @include desktop {
    margin-block-end: 0;
  }
}

.add-more-card__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-block-end: var(--space-4);

  font-family: var(--add-more-card-text-font-family);
  font-weight: var(--add-more-card-text-font-weight);
  font-size: var(--add-more-card-text-font-size-mobile);
  line-height: var(--add-more-card-text-line-height-mobile);
  color: var(--color-text-secondary);

  @include tablet {
    margin-inline-start: auto;
    margin-block-end: 0;

    font-size: var(--add-more-card-text-font-size-tablet);
    line-height: var(--add-more-card-text-line-height-tablet);
  }

  @include desktop {
    justify-content: flex-start;

    min-inline-size: 18.125rem;

    margin-inline: auto var(--space-8);
  }
}

.add-more-card__price {
  text-transform: uppercase;

  @include tablet {
    margin-inline-start: var(--space-10);
  }

  @include desktop {
    margin-inline-start: auto;
  }
}

.add-more-card__button {
  inline-size: 100%;

  @include desktop {
    max-inline-size: 15.3125rem;

    margin-inline-start: auto;
  }
}
