@mixin responsive-bg($path, $ext: "jpg") {
  // fallback
  background-image: url("#{$path}@1x.#{$ext}");

  // modern
  background-image: image-set(
    url("#{$path}@1x.webp") type("image/webp") 1x,
    url("#{$path}@2x.webp") type("image/webp") 2x,
    url("#{$path}@1x.#{$ext}") type("image/#{$ext}") 1x,
    url("#{$path}@2x.#{$ext}") type("image/#{$ext}") 2x
  );
}

@mixin responsive-bg-with-overlay($path, $overlay, $ext: "jpg") {
  // fallback
  background-image: $overlay, url("#{$path}@1x.#{$ext}");

  // modern
  background-image:
    $overlay,
    image-set(
      url("#{$path}@1x.webp") type("image/webp") 1x,
      url("#{$path}@2x.webp") type("image/webp") 2x,
      url("#{$path}@1x.#{$ext}") type("image/#{$ext}") 1x,
      url("#{$path}@2x.#{$ext}") type("image/#{$ext}") 2x
    );
}
