@use "abstracts/media" as *;

.social {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 2.25rem;

  @include tablet {
    justify-content: flex-end;
    gap: 1.875rem;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-3);
  color: var(--color-social-link);
  transition: all 0.2s;
}

.social__link:hover {
  color: var(--color-accent-hover);
}

.social__link:active {
  color: var(--color-accent-hover);
  opacity: 0.3;
}
.social__link:focus-visible {
  color: var(--color-accent-hover);
  outline: 2px solid var(--color-accent-hover);
}

.social__svg {
  fill: currentColor;
}

.social__link--telegram .social__svg {
  fill: none;
  stroke: currentColor;
}

.social__link .social__svg {
  width: 30px;
  height: auto;

  @include tablet {
    width: 28px;
    height: auto;
  }
}
