[data-theme="dark"] {
  // background
  --color-bg-primary: #{$grey-900}; // не чистый black
  --color-bg-secondary: #{$grey-800};
  --color-bg-tertiary: #{$grey-700};

  // text
  --color-text-primary: #{$white};
  --color-text-secondary: #{$grey-300};
  --color-text-muted: #{$grey-500};

  // borders
  --color-border-default: #{$grey-700};
  --color-border-light: #{$grey-800};
  --color-border-strong: #{$grey-300};

  // brand
  --color-accent: #{$green-500}; // бренд обычно НЕ меняем
  --color-accent-hover: #{$green-600};

  // states
  --color-error: #{$error-400};

  // elements
  --color-button-primary: var(--color-accent);
  --color-button-primary-hover: var(--color-accent-hover);

  // inputs
  --color-input-focus: #{$green-500};

  // icons
  --color-icon-default: #{$grey-300};

  // navigation
  --color-nav-burger: #{$white};
  --color-nav-link-decor: #{$grey-600};
}
