:root {
  // fonts
  --main-font: "Oswald Regular", "Arial", sans-serif;
  --main-bold-font: "Oswald Medium", "Arial", sans-serif;
  --accent-font: "Arial", sans-serif;

  // font font-weight
  --font-weight-normal: 400;
  --font-weight-bold: 500;

  /* header navigation typography */
  --header-nav-link-font-family-mobile: var(--main-bold-font);
  --header-nav-link-font-family-tablet: var(--main-font);
  --header-nav-link-font-family-desktop: var(--main-font);

  --header-nav-link-font-size-mobile: 20px;
  --header-nav-link-line-height-mobile: 24px;

  --header-nav-link-font-size-tablet: 18px;
  --header-nav-link-line-height-tablet: 24px;

  --header-nav-link-font-size-desktop: 20px;
  --header-nav-link-line-height-desktop: 30px;

  --header-nav-link-font-weight-mobile: var(--font-weight-normal);
  --header-nav-link-font-weight-tablet: var(--font-weight-normal);
  --header-nav-link-font-weight-desktop: var(--font-weight-normal);

  /* footer typography */
  // contacts title
  --footer-contacts-title-font-family: var(--main-font);
  --footer-contacts-title-font-weight: var(--font-weight-normal);

  --footer-contacts-title-font-size-mobile: 16px;
  --footer-contacts-title-line-height-mobile: 20px;

  --footer-contacts-title-font-size-tablet: 20px;
  --footer-contacts-title-line-height-tablet: 25px;

  // address / developer text
  --footer-text-font-family: var(--accent-font);
  --footer-text-font-weight: var(--font-weight-normal);

  --footer-text-font-size-mobile: 14px;
  --footer-text-line-height-mobile: 18px;

  --footer-text-font-size-tablet: 16px;
  --footer-text-line-height-tablet: 20px;

  // developer link
  --footer-dev-link-line-height: 19px;

  /* promo  typography*/
  // promo title
  --promo-title-font-family: var(--main-font);
  --promo-title-font-weight: var(--font-weight-normal);

  --promo-title-font-size-mobile: 36px;
  --promo-title-line-height-mobile: 36px;

  --promo-title-font-size-tablet: 60px;
  --promo-title-line-height-tablet: 60px;

  --promo-title-font-size-desktop: 60px;
  --promo-title-line-height-desktop: 60px;

  // promo description
  --promo-desc-font-family: var(--main-font);
  --promo-desc-font-weight: var(--font-weight-normal);
  --promo-desc-text-transform: uppercase;

  --promo-desc-font-size-mobile: 14px;
  --promo-desc-line-height-mobile: 14px;

  --promo-desc-font-size-tablet: 20px;
  --promo-desc-line-height-tablet: 20px;

  --promo-desc-font-size-desktop: 20px;
  --promo-desc-line-height-desktop: 20px;

  --promo-button-font-size-desktop: 20px;
  --promo-desc-font-size-tablet: 14px;

  /* categories */

  --categories-title-font-family: var(--main-font);
  --categories-title-font-weight: var(--font-weight-normal);

  --categories-title-font-size-mobile: 1.5rem;
  --categories-title-line-height-mobile: 1.625rem;

  --categories-title-font-size-tablet: 2.25rem;
  --categories-title-line-height-tablet: 2.25rem;

  // description

  --categories-desc-font-family: var(--accent-font);
  --categories-desc-font-weight: var(--font-weight-normal);

  --categories-desc-font-size-mobile: 0.875rem;
  --categories-desc-line-height-mobile: 1.125rem;

  --categories-desc-font-size-tablet: 1rem;
  --categories-desc-line-height-tablet: 1.25rem;

  // button

  --categories-button-font-family: var(--main-font);
  --categories-button-font-weight: var(--font-weight-normal);

  --categories-button-font-size-mobile: 1rem;
  --categories-button-line-height-mobile: 1rem;

  --categories-button-font-size-tablet: 1.25rem;
  --categories-button-line-height-tablet: 1;

  /* process */

  --process-title-font-family: var(--main-font);
  --process-title-font-weight: var(--font-weight-normal);

  --process-title-font-size-mobile: 2.25rem;
  --process-title-line-height-mobile: 2.5rem;

  --process-title-font-size-tablet: 3.75rem;
  --process-title-line-height-tablet: 3.75rem;

  // process text

  --process-text-font-family: var(--accent-font);
  --process-text-font-weight: var(--font-weight-normal);

  --process-text-font-size-mobile: 0.875rem;
  --process-text-line-height-mobile: 1.125rem;

  --process-text-font-size-tablet: 1rem;
  --process-text-line-height-tablet: 1.25rem;

  /* example */
  --example-title-font-family: var(--main-font);
  --example-title-font-weight: var(--font-weight-normal);
  --example-title-font-size-mobile: 2.25rem;
  --example-title-line-height-mobile: 2.5rem;
  --example-title-font-size-tablet: 3.75rem;
  --example-title-line-height-tablet: 3.75rem;

  --example-description-font-family: var(--accent-font);
  --example-description-font-weight: var(--font-weight-normal);
  --example-description-font-size-mobile: 0.875rem;
  --example-description-line-height-mobile: 1.125rem;
  --example-description-font-size-tablet: 1rem;
  --example-description-line-height-tablet: 1.25rem;

  --example-metric-value-font-family: var(--main-font);
  --example-metric-value-font-weight: var(--font-weight-normal);
  --example-metric-value-font-size-mobile: 1.5rem;
  --example-metric-value-line-height-mobile: 1.5rem;
  --example-metric-value-font-size-tablet: 1.875rem;
  --example-metric-value-line-height-tablet: 2.3125rem;

  --example-metric-label-font-family: var(--accent-font);
  --example-metric-label-font-weight: var(--font-weight-normal);
  --example-metric-label-font-size-mobile: 0.75rem;
  --example-metric-label-line-height-mobile: 1rem;
  --example-metric-label-font-size-tablet: 0.875rem;
  --example-metric-label-line-height-tablet: 0.875rem;

  --example-cost-font-family: var(--main-font);
  --example-cost-font-weight: var(--font-weight-normal);
  --example-cost-font-size-mobile: 0.75rem;
  --example-cost-line-height-mobile: 1.25rem;
  --example-cost-font-size-tablet: 1.25rem;
  --example-cost-line-height-tablet: 1.25rem;

  --example-slider-button-font-family: var(--main-font);
  --example-slider-button-font-weight: var(--font-weight-normal);
  --example-slider-button-font-size-mobile: 1rem;
  --example-slider-button-line-height-mobile: 1.25rem;
  --example-slider-button-font-size-tablet: 1.25rem;
  --example-slider-button-line-height-tablet: 1.875rem;
}
