// neutrals
$white: #ffffff;
$black: #000000;
$light-black: #111111;

// greys
$grey-100: #f2f2f2;
$grey-150: #ebebeb;
$grey-200: #eaeaea;
$grey-300: #dcdcdc;
$grey-400: #d3d3d3;
$grey-500: #cdcdcd;
$grey-600: #bababa;
$grey-700: #666666;
$grey-800: #444444;
$grey-900: #222222;

// lines / borders
$border-100: #e6e6e6;
$border-200: #d9d9d9;

// brand
$green-500: #68b738;
$green-600: #5eaa2f;

// states
$error-400: #ff8282;

// overlays
$white-30: rgba(255, 255, 255, 0.3);
$green-overlay: rgba(104, 183, 56, 0.85);
$focus-overlay: rgba(4, 83, 26, 0.5);
