@use "abstracts/media" as *;

.program {
  border-block-start: 1px solid var(--color-border-light);

  @include tablet {
    border-block-start: none;
  }
}

.program.wrapper {
  @include tablet {
    padding-inline: var(--space-13);
  }

  @include desktop {
    padding-inline: var(--space-14) calc(var(--space-14) - var(--space-2));
  }
}

.program__main-title {
  margin-block: var(--space-7) var(--space-9);

  font-family: var(--order-title-font-family);
  font-weight: var(--order-title-font-weight);
  font-size: var(--order-title-font-size-mobile);
  line-height: var(--order-title-line-height-mobile);

  @include tablet {
    margin-block: var(--space-11) var(--space-11);

    font-size: var(--order-title-font-size-tablet);
    line-height: var(--order-title-line-height-tablet);
  }

  @include desktop {
    margin-block-start: var(--space-12);
  }
}

.program__desc {
  margin-block-end: var(--space-6);
  padding-inline-end: var(--space-8);

  font-family: var(--order-desc-font-family);
  font-weight: var(--order-desc-font-weight);
  font-size: var(--order-desc-font-size-mobile);
  line-height: var(--order-desc-line-height-mobile);
  text-transform: uppercase;

  color: var(--color-text-primary);

  @include tablet {
    margin-block-end: var(--space-13);
    padding-inline-end: 0;
    max-inline-size: 26.1875rem;

    font-size: var(--order-desc-font-size-tablet);
    line-height: var(--order-desc-line-height-tablet);
  }
}

.program__cats-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-end: var(--space-9);

  @include desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--space-13);
  }
}

.program__details {
  inline-size: 100%;
  padding-block-end: var(--space-3);
}

.program__control-groups {
  margin: 0;
  padding: 0;
  border: none;
}

.program__field-wrapper {
  position: relative;

  display: flex;
  align-items: center;

  margin-block-end: var(--space-4);

  @include tablet {
    margin-block-end: var(--space-6);
  }
}

.program__label {
  margin-inline-end: var(--space-3);

  font-family: var(--order-label-font-family);
  font-weight: var(--order-label-font-weight);
  font-size: var(--order-label-font-size-mobile);
  line-height: var(--order-label-line-height-mobile);

  text-transform: uppercase;
  color: var(--color-text-secondary);

  @include tablet {
    margin-inline-end: var(--space-4);

    font-size: var(--order-label-font-size-tablet);
    line-height: var(--order-label-line-height-tablet);
  }
}

.program__input {
  flex-grow: 1;

  margin: 0;

  padding-block: var(--space-3) var(--space-2);
  padding-inline: var(--space-4) var(--space-2);

  font-family: var(--order-input-font-family);
  font-weight: var(--order-input-font-weight);
  font-size: var(--order-input-font-size-mobile);
  line-height: var(--order-input-line-height-mobile);

  color: var(--color-text-primary);

  border: 1px solid var(--color-border-default);
  background-color: transparent;

  @include tablet {
    font-size: var(--order-input-font-size-tablet);
    line-height: var(--order-input-line-height-tablet);
  }
}

.program__input::placeholder {
  font-family: var(--order-input-font-family);
  font-weight: var(--order-input-font-weight);
  font-size: var(--order-input-font-size-mobile);
  line-height: var(--order-input-line-height-mobile);
  text-transform: uppercase;
  color: var(--color-text-muted);

  @include tablet {
    font-size: var(--order-input-font-size-tablet);
    line-height: var(--order-input-line-height-tablet);
  }
}
.program__input:active,
.program__input:hover,
.program__input:focus-visible {
  outline: 2px solid var(--color-input-focus);
  border: 2px solid var(--color-input-focus);
}
.program__input[type="number"] {
  appearance: textfield;
}

.program__input[type="number"]::-webkit-outer-spin-button,
.program__input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

.program__input--error {
  border: 2px solid var(--color-error);
}

.program__error {
  font-size: 0.95rem;
  color: var(--color-error);
  position: absolute;
  top: -1.3rem;
}

.program__aim {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  inline-size: 100%;
  padding-block-start: var(--space-7);
  padding-inline-start: var(--space-6);
  border: 1px solid var(--color-border-light);

  @include tablet {
    margin-block-start: var(--space-10);
    margin-inline: var(--space-10) var(--space-9);

    padding-block-end: var(--space-1);

    border: 1px solid var(--color-border-light);
  }

  @include desktop {
    margin: 0;
    padding-block-start: var(--space-8);

    align-self: start;

    border: 1px solid var(--color-border-light);
  }
}

.program__label--radio {
  position: relative;

  padding-inline-start: var(--space-11);
  margin-block-end: var(--space-3);

  cursor: pointer;

  @include tablet {
    margin-block-end: 0.5625rem;
  }
}

.program__label--radio::before {
  position: absolute;
  content: "";

  inline-size: 1.875rem;
  block-size: 1.875rem;

  inset-inline-start: 0;
  inset-block-start: 50%;

  border: 1px solid var(--color-border-default);
  border-radius: var(--radius-full);

  transform: translateY(-50%);

  @include tablet {
    inline-size: 2.5rem;
    block-size: 2.5rem;

    inset-inline-start: -0.8125rem;
  }
}

.program__label--radio::after {
  position: absolute;
  content: "";

  inline-size: 0.8125rem;
  block-size: 0.8125rem;

  inset-inline-start: var(--space-2);
  inset-block-start: 50%;

  background: var(--color-accent);
  border-radius: var(--radius-full);

  opacity: 0;

  transform: translateY(-50%);

  @include tablet {
    inline-size: 1.125rem;
    block-size: 1.125rem;

    inset-inline-start: -0.125rem;
  }
}

.program__input:checked ~ .program__label--radio::after {
  opacity: 1;
}

.program__label--radio:hover::before {
  border-color: var(--color-label-hover);
}

.program__input:focus + .program__label--radio::before {
  border-color: var(--color-label-hover);
  box-shadow: 0 2px 7px var(--color-accent);
}

.program__owner-data {
  margin-block-end: var(--space-9);
}

.program__input-icon {
  position: absolute;

  inline-size: 1.25rem;
  block-size: 1.25rem;

  inset-inline-start: calc(100% - 34px);
  inset-block-start: 50%;

  transform: translateY(-50%);

  fill: currentColor;

  @include desktop {
    inset-inline-start: calc(100% - 45px);
  }
}

.program__owner-data .program__input:focus + .program__input-icon {
  color: var(--color-accent-hover);
}

.program__comment {
  margin-block-end: var(--space-9);
}

.program__fieldset-title {
  position: relative;

  margin-block-end: var(--space-9);

  font-family: var(--order-fieldset-title-font-family);
  font-weight: var(--order-fieldset-title-font-weight);
  font-size: var(--order-fieldset-title-font-size-mobile);
  line-height: var(--order-fieldset-title-line-height-mobile);

  @include tablet {
    font-size: var(--order-fieldset-title-font-size-tablet);
    line-height: var(--order-fieldset-title-line-height-tablet);
  }
}

.program__fieldset-title::before {
  @include tablet {
    position: absolute;
    content: "";

    inline-size: 100vw;
    block-size: 3px;

    inset-inline-end: 115%;
    inset-block-start: 22px;

    background-color: var(--color-accent);

    transform: translateY(-50%);
  }
}

.program__fieldset-title::after {
  position: absolute;
  content: "";

  inline-size: 100vw;
  block-size: 2px;

  inset-inline-start: 115%;
  inset-block-start: 16px;

  background-color: var(--color-accent);

  transform: translateY(-50%);

  @include tablet {
    inset-inline-start: 90%;
    inset-block-start: 22px;
  }

  @include desktop {
    inset-inline-start: 100%;
  }
}

.program__comment-field {
  inline-size: 100%;
  min-block-size: 10.875rem;

  padding: var(--space-3) var(--space-2) var(--space-4) var(--space-4);

  font-family: var(--order-textarea-font-family);
  font-weight: var(--order-textarea-font-weight);
  font-size: var(--order-textarea-font-size-mobile);
  line-height: var(--order-textarea-line-height-mobile);

  color: var(--color-text-primary);

  background: var(--color-bg-primary);

  resize: none;

  @include tablet {
    font-size: var(--order-textarea-font-size-tablet);
    line-height: var(--order-textarea-line-height-tablet);
  }
}

.program__comment-field::placeholder {
  font-family: var(--order-input-font-family);
  font-weight: var(--order-input-font-weight);
  font-size: var(--order-input-font-size-mobile);
  line-height: var(--order-input-line-height-mobile);
  text-transform: uppercase;

  @include tablet {
    font-size: var(--order-input-font-size-tablet);
    line-height: var(--order-input-line-height-tablet);
  }
}
.program__comment-field:active,
.program__comment-field:hover,
.program__comment-field:focus-visible {
  outline: 2px solid var(--color-input-focus);
  border: 2px solid var(--color-input-focus);
}

.program__extra-wrapper {
  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 58px;
    align-items: start;
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 69px;
  }
}

.program__extra-item {
  margin-block-end: var(--space-5);
  padding-inline-start: 2.875rem;

  @include tablet {
    margin-block-end: var(--space-9);
    padding-inline-start: 3.75rem;
  }
}

.program__extra-item .program__label {
  position: relative;
  color: var(--color-text-primary);
  cursor: pointer;
}

.program__extra-item .program__label::before {
  position: absolute;
  content: "";

  inline-size: 1.875rem;
  block-size: 1.875rem;

  inset-inline-start: -2.8125rem;
  inset-block-start: 0.75rem;

  border: 1px solid var(--color-border-default);

  transform: translateY(-50%);

  @include tablet {
    inline-size: 2.5rem;
    block-size: 2.5rem;

    inset-inline-start: -3.75rem;
    inset-block-start: 0.9375rem;
  }
}

.program__extra-item .program__label:hover::before {
  border-color: var(--color-label-hover);
}

.program__input--checkbox:checked ~ .program__label::before {
  background: url("/assets/imgs/svg/tick.svg") no-repeat center;
  background-size: 1.3125rem auto;
  background-clip: content-box;
}

.program__input--checkbox:focus + .program__label::before {
  border: 1px solid var(--color-label-hover);
  box-shadow: 0 2px 3px var(--color-accent);
}

.program__footnote {
  margin-block: var(--space-5) var(--space-12);

  @include tablet {
    display: grid;
    grid-template-columns: 282px 1fr;
    gap: var(--space-13);
    align-items: center;
  }
}

.program__button {
  font-family: var(--order-button-font-family);
  font-weight: var(--order-button-font-weight);
  font-size: var(--order-button-font-size-mobile);
  line-height: var(--order-button-line-height-mobile);
  color: var(--color-text-button);

  @include tablet {
    font-size: var(--order-button-font-size-tablet);
    line-height: var(--order-button-line-height-tablet);
  }
}

.program__footnote-text {
  font-family: var(--order-footnote-font-family);
  font-weight: var(--order-footnote-font-weight);
  font-size: var(--order-footnote-font-size-mobile);
  line-height: var(--order-footnote-line-height-mobile);

  @include tablet {
    font-size: var(--order-footnote-font-size-tablet);
    line-height: var(--order-footnote-line-height-tablet);
  }
}

.program__success {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-6);

  padding-block: var(--space-9) var(--space-12);

  @include tablet {
    gap: var(--space-9);
    padding-block: var(--space-11) var(--space-13);
  }
}

.program__success-title {
  position: relative;

  font-family: var(--order-fieldset-title-font-family);
  font-weight: var(--order-fieldset-title-font-weight);
  font-size: var(--order-fieldset-title-font-size-mobile);
  line-height: var(--order-fieldset-title-line-height-mobile);

  @include tablet {
    font-size: var(--order-fieldset-title-font-size-tablet);
    line-height: var(--order-fieldset-title-line-height-tablet);
  }
}

.program__success-text {
  max-inline-size: 26.1875rem;

  font-family: var(--order-desc-font-family);
  font-weight: var(--order-desc-font-weight);
  font-size: var(--order-desc-font-size-mobile);
  line-height: var(--order-desc-line-height-mobile);

  color: var(--color-text-secondary);

  @include tablet {
    font-size: var(--order-desc-font-size-tablet);
    line-height: var(--order-desc-line-height-tablet);
  }
}

.program__success .button--primary {
  color: var(--color-text-button);
  font-family: var(--order-button-font-family);
  font-weight: var(--order-button-font-weight);
  font-size: var(--order-button-font-size-mobile);
  line-height: var(--order-button-line-height-mobile);

  @include tablet {
    font-size: var(--order-button-font-size-tablet);
    line-height: var(--order-button-line-height-tablet);
  }
}
