<p class="example-stats__description">
  Boris lost 5 kg in 2 months simply by switching his regular food to Cat Energy
  Slim. An excellent result without exhausting workouts! At the same time, he
  didn’t change his habits and still sleeps 16 hours a day.
</p>

<div class="example-stats__stats">
  <dl class="example-stats__metrics">
    <div class="example-stats__metric">
      <dt class="example-stats__value">5 kg</dt>
      <dd class="example-stats__label">weight loss</dd>
    </div>

    <div class="example-stats__metric">
      <dt class="example-stats__value">60 days</dt>
      <dd class="example-stats__label">time spent</dd>
    </div>
  </dl>

  <p class="example-stats__cost">
    <span class="example-stats__cost-title">Food expenses:</span>
    <span class="example-stats__cost-value">150&#36;</span>
  </p>
</div>
