@use "tokens/colors" as *;

[data-theme="dark"] {
  // background
  --color-bg-primary: #{$grey-900};
  --color-bg-secondary: #{$grey-800};
  --color-bg-tertiary: #{$grey-700};
  --color-bg-accent: #{$white};
  --color-text-white: #{$white};

  // text
  --color-text-primary: #{$white};
  --color-text-secondary: #{$grey-300};
  --color-text-muted: #{$grey-500};
  --color-text-inverse: #{$black};

  // borders
  --color-border-default: #{$grey-700};
  --color-border-light: #{$grey-800};
  --color-border-strong: #{$grey-300};

  // brand
  --color-accent: #{$green-500};
  --color-accent-hover: #{$green-600};

  // states
  --color-error: #{$error-400};

  // elements
  --color-button-primary: var(--color-accent);
  --color-button-primary-hover: var(--color-accent-hover);

  // inputs
  --color-input-focus: #{$green-500};

  // icons
  --color-icon-default: #{$grey-300};

  // overlays
  --color-loader-overlay: #{$loader-overlay-dark};

  // navigation
  --header-nav-link-color: var(--color-text-primary);
  --header-nav-link-color-inverse: var(--color-text-inverse);
  --header-nav-link-decor-inverse: var(--color-bg-accent);
  --color-nav-index-route-decor: #{$white};
  --color-nav-burger: #{$white};
  --color-nav-link-decor: #{$grey-600};

  --header-nav-link-default-color: var(--color-text-primary);
  --header-nav-link-decor-default: var(--color-accent);

  // footer
  --color-social-link: #{$white};
  --color-social-links-decor: #{$grey-600};
  --footer-bg: var(--color-bg-primary);

  // promo
  --promo-title-color-mobile: var(--color-text-primary);
  --promo-title-color-tablet: var(--color-text-primary);
  --promo-desc-color-mobile: var(--color-text-primary);
  --promo-desc-color-tablet: var(--color-text-primary);

  --promo-overlay-color: #{$green-overlay};
  --promo-surface-color: var(--color-bg-primary);

  --slider-track-bg: var(--color-bg-tertiary);
  --slider-track-bg-strong: var(--color-border-light);
  --slider-track-border: var(--color-border-default);

  --slider-thumb-bg: var(--color-accent);
  --slider-thumb-border: var(--color-bg-primary);

  --slider-button-border: var(--color-bg-accent);

  --slider-focus: var(--color-input-focus);

  // catalog
  --color-product-card-border: var(--color-border-default);
  --color-product-catalog-border: #{$grey-600};
  --color-product-card-gradient: linear-gradient(
    to bottom,
    var(--color-bg-primary) 87px,
    var(--color-bg-secondary) 87px
  );

  --color-add-more-item-border: var(--color-border-light);

  // add more item
  --add-more-icon-filter: invert(1);
}
