@use "tokens/colors" as *;

:root {
  // text
  --color-text-primary: #{$black};
  --color-text-secondary: #{$grey-800};
  --color-text-muted: #{$grey-700};
  --color-text-inverse: #{$white};
  --color-text-white: #{$white};

  // background
  --color-bg-primary: #{$white};
  --color-bg-secondary: #{$grey-100};
  --color-bg-tertiary: #{$grey-200};

  // brand
  --color-accent: #{$green-500};
  --color-accent-hover: #{$green-600};

  // button text colors for AA
  --color-text-button: #{$white};

  // button scroll to top
  --color-button-scroll-to-top-bg: #{$grey-100};

  // skip link
  --color-skip-link-text: #{$black};

  // borders
  --color-border-default: #{$grey-500};
  --color-border-light: #{$grey-150};
  --color-border-strong: #{$black};

  // states
  --color-error: #{$error-400};

  // elements
  --color-button-primary: var(--color-accent);
  --color-button-primary-hover: var(--color-accent-hover);

  --color-input-focus: #{$green-500};
  --color-label-hover: #{$grey-600};

  // icons
  --color-icon-default: #{$grey-700};

  // overlays
  --color-loader-overlay: #{$loader-overlay-light};
  --nav-index-overlay: #{$nav-index-overlay};

  // navigation
  --header-nav-link-color: var(--color-text-primary);
  --header-nav-link-color-inverse: var(--color-text-inverse);
  --header-nav-link-decor-inverse: var(--color-bg-primary);
  --color-nav-burger: #{$light-black};
  --color-nav-link-decor: #{$border-100};

  --header-nav-link-default-color: var(--color-text-primary);
  --header-nav-link-decor-default: var(--color-accent);

  // footer
  --color-social-link: #{$grey-800};
  --color-social-links-decor: #{$border-100};
  --footer-bg: var(--color-bg-primary);

  // promo
  --promo-title-color-mobile: var(--color-text-inverse);
  --promo-title-color-tablet: var(--color-text-primary);
  --promo-desc-color-mobile: var(--color-text-inverse);
  --promo-desc-color-tablet: var(--color-text-primary);

  --promo-overlay-color: #{$green-overlay};
  --promo-surface-color: var(--color-bg-primary);

  // slider

  --slider-track-bg: var(--color-bg-tertiary);
  --slider-track-bg-strong: var(--color-border-default);
  --slider-track-border: var(--color-border-default);

  --slider-thumb-bg: var(--color-accent);
  --slider-thumb-border: var(--color-bg-primary);

  --slider-button-border: var(--color-border-default);

  --slider-focus: var(--color-input-focus);

  // catalog
  --color-product-catalog-border: #{$border-100};
  --color-product-card-title: var(--color-text-primary);
  --color-product-card-text: var(--color-text-secondary);
  --color-product-card-border: var(--color-border-light);

  --color-product-card-gradient: linear-gradient(
    to bottom,
    var(--color-bg-primary) 87px,
    var(--color-bg-secondary) 87px
  );

  --color-add-more-item-border: #{$grey-100};

  // add more item
  --add-more-icon-filter: none;
}
